.generations-intro {
    margin: auto;
    width: 800px;
    
}

.porsche-generation-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1500px;
}

.porsche-generation-container img {
    height: 300px;
}