.generations-intro {
    margin: auto;
    width: 800px;
    
}

.porsche-generation-container {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1000px;
    background-color: grey;
}

.porsche-generation-container img {
    height: 300px;
}